@tailwind base;
@tailwind components;
@tailwind utilities;


  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }


  .green{
    background-color: #264728;
  }

.primary-bg-gradient {
  background: linear-gradient(152deg, #3b37ff 0%, #6973b2 80%);
  transition: all ease-in 300ms;
}
.primary-bg-gradient:hover {
  opacity: 0.9;
}

.gear-bg{
  background-image: url('/loading_01.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.dailog-content {
  width: 95% !important;
  max-width: 600px !important;
}

.dailog-content > button {
  color: white !important;
  margin-top: 15px !important;
}

.dailog-content > button > svg {
  width: 20px;
  height: 20px;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
   border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #232328;
  border-radius: 14px;
  border: 3px solid #232328 !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}

.builder {
  align-items: center;
  background-image: url(../../public/skill-tree/skill_inactive.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 50px;
  display: flex;
  height: 50px;
  justify-content: center;
  margin: 10px;
  width: 50px;
}
.builder2 {
  align-items: center;
  background-image: url(../../public/skill-tech/background.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 60px;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 5px;
  width: 60px;
}

.skill-tree {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: 0 0;
  transition: transform 0.2s ease-in-out;
}

.node {
  width: 5rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;
  position: absolute;
  cursor: pointer;
}

.connection {
  position: absolute;
  height: 20px;
  transform-origin: top left;
  z-index: -1;
  background-image: url(../../public/skill-tree/link.webp);
  background-size: 100% 100%;
}
/*  connection child 1 and 2  */

.connection_step {
  position: absolute;
  height: 6px;
  transform-origin: top left;
  z-index: -1;
  background-image: url(../../public/skill-tree/steps.webp);
  background-size: 100% 100%;
  transition: background-color 0.5s ease, width 0.5s ease;

}

.connection-transition {
  transition: background-color 0.5s ease, width 0.5s ease;
}

.connection_child {
  position: absolute;
  height: 6px;
  transform-origin: top left;
  z-index: -1;
  background-image: url(../../public/skill-tree/link.webp);
  background-size: 100% 100%;

}
.connection_options {
  position: absolute;
  height: 10px;
  transform-origin: top left;
  z-index: -1;
  background-image: url(../../public/skill-tree/link.webp);
  background-size: 100% 100%;

}
.Paragon-board {
  background-image: url(../../public/paragon/board_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.card-board {
  background-image: url(../../public/paragon/tile_bg_common.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
.card-board-magic {
  background-image: url(../../public/paragon/tile_bg_magic.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
.card-board-rare {
  background-image: url(../../public/paragon/tile_bg_rare.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
.card-board-rare-2 {
  background-image: url(../../public/paragon/tile_bg_rare.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-board-legendary {
  background-image: url(../../public/paragon/tile_bg_legendary.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

/* tile_bg */

.tile-bg {
  background-image: url(../../public/paragon/tile_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.card-board-red-bg {
  background-image: url(../../public/paragon/board_red_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}

.game-board {
  position: absolute;
  top: 0;
  left: 0;
  width: 2000px;
  height: 2000px;
  transform-origin: 0 0;
}



.connection_second_options {
  position: absolute;
  width: 2px;
  transform-origin: left center;
  background-color: rgba(255, 255, 255, 0.1);
}

.connection_second_options .connection_step {
  background-color: red;
  width: 0%;
  height: 50%;
  transition: width 0.3s ease-in-out;
}

.connection_second_option_child {
  position: absolute;
  width: 2px;
  transform-origin: left center;
  background-color: rgba(255, 255, 255, 0.1);
}

.connection_second_option_child .connection_step {
  background-color: red;
  width: 100%;
  height: 50%;
  transition: width 0.3s ease-in-out;
}


